<!-- To Top -->
<div class="scroll-top-to">
  <i class="ti-angle-up"></i>
</div>

<!-- JAVASCRIPTS -->
<script src="plugins/jquery/jquery.min.js"></script>
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/slick/slick.min.js"></script>
<script src="plugins/fancybox/jquery.fancybox.min.js"></script>
<script src="plugins/syotimer/jquery.syotimer.min.js"></script>
<script src="plugins/aos/aos.js"></script>
<!-- google map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUn5-NgsXMHApHtVrrUS-RVucdi9T5iEs"></script>
<script src="plugins/google-map/gmap.js"></script>

<script src="js/script.js"></script>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-D4NGCLL6PY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag () { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-D4NGCLL6PY');
</script>

<!-- Load plugin script -->
<script type="module" src="js/cookieconsent-config.js"></script>

</body>

</html>