<!-- Post -->
<article class="post-sm">
	<div class="post-thumb">
		<a href="blog-single.html"><img class="w-100" src="@@img-src" alt="@@if (lang === 'tr') { Yazı görseli }@@if (lang !== 'tr') { Post image }"></a>
	</div>
	<div class="post-title">
		<h3><a href="blog-single.html">@@post-title</a></h3>
	</div>
	<div class="post-meta">
		<ul class="list-inline post-tag">
			<li class="list-inline-item">
				<img src="images/testimonial/feature-testimonial-thumb.jpg" alt="@@if (lang === 'tr') { Yazar görseli }@@if (lang !== 'tr') { Author thumbnail }">
			</li>
			<li class="list-inline-item">
				<a href="#">@@if (typeof author !== 'undefined') { @@author }@@if (typeof author === 'undefined' && lang === 'tr') { Geliştirici Ekibi }@@if (typeof author === 'undefined' && lang !== 'tr') { Thomas Johnson }</a>
			</li>
			<li class="list-inline-item">
				@@if (typeof date !== 'undefined') { @@date }@@if (typeof date === 'undefined' && lang === 'tr') { 8 Ağustos 2017 }@@if (typeof date === 'undefined' && lang !== 'tr') { August 8, 2017 }
			</li>
		</ul>
	</div>
	<div class="post-details">
		<p>@@if (typeof excerpt !== 'undefined') { @@excerpt }@@if (typeof excerpt === 'undefined' && lang === 'tr') { Kısa bir özet yakında eklenecek. }@@if (typeof excerpt === 'undefined' && lang !== 'tr') { Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. }</p>
	</div>
</article>