<!--=====================================
=            Section comment            =
======================================-->

<section class="section cta-hire bg-gary">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<!-- Hire Title -->
				<h2>
					@@if (typeof lang !== 'undefined' && lang === 'tr') { Yetenekli geliştiriciler arıyoruz }
					@@if (typeof lang === 'undefined' || lang !== 'tr') { We are hunting Genius Developers }
				</h2>
				<!-- Job Description -->
				<p>
					@@if (typeof lang !== 'undefined' && lang === 'tr') { Ürüne ve kaliteye önem veren; modern yazılım geliştirme pratiklerini benimseyen ekip arkadaşları arıyoruz. Öğrenmeye açık, sorumluluk alan ve birlikte üretmeyi seven adaylarla tanışmak isteriz. }
					@@if (typeof lang === 'undefined' || lang !== 'tr') { Our expert and talented colleagues, who have seen and written about all the transition phases up to the modern software development process and have left their mark on the industry for more than 40 years, have rolled up their sleeves to bring new genius software developers to the industry. }
				</p>
				<!-- Action Button -->
				<a href="@@if (typeof lang !== 'undefined' && lang === 'tr') {iletisim.html}@@if (typeof lang === 'undefined' || lang !== 'tr') {contact.html}" class="mt-3 btn btn-main-md">
					@@if (typeof lang !== 'undefined' && lang === 'tr') { Ekibe katıl }
					@@if (typeof lang === 'undefined' || lang !== 'tr') { Join the team }
				</a>
			</div>
		</div>
	</div>
</section>

<!--====  End of Section comment  ====-->