<!--============================
=            Footer            =
=============================-->
<footer>
  <div class="footer-main">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-12 m-md-auto align-self-center">
          <div class="block">
            <a href="index.html"><img src="images/logo-alt.png" alt="@@if (lang === 'tr') {footer logosu}@@if (lang !== 'tr') {footer logo}"></a>
            <!-- Social Site Icons -->
            <ul class="social-icon list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/gelistirici.bilisim"><i class="ti-facebook"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://x.com/gelistirici"><i class="ti-twitter"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/gelistirici/"><i class="ti-instagram"></i></a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/gelistirici/"><i class="ti-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>@@if (lang === 'tr') { Ürün }@@if (lang !== 'tr') { Product }</h6>
            <!-- links -->
            <ul>
              <li><a href="@@if (lang === 'tr') {ekibimiz.html}@@if (lang !== 'tr') {team.html}">@@if (lang === 'tr') { Takım }@@if (lang !== 'tr') { Teams }</a></li>
              <li><a href="@@if (lang === 'tr') {sik-sorulan-sorular.html}@@if (lang !== 'tr') {FAQ.html}">@@if (lang === 'tr') { SSS }@@if (lang !== 'tr') { FAQs }</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>@@if (lang === 'tr') { Kaynaklar }@@if (lang !== 'tr') { Resources }</h6>
            <!-- links -->
            <ul>
              <li><a href="https://www.facebook.com/gelistirici.bilisim/">@@if (lang === 'tr') { Ürün Bilgisi }@@if (lang !== 'tr') { Product Info }</a></li>
              <li><a href="http://demo.gelistirici.com">@@if (lang === 'tr') { Demo Uygulama }@@if (lang !== 'tr') { Demo Application }</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-3 col-6 mt-5 mt-lg-0">
          <div class="block-2">
            <!-- heading -->
            <h6>@@if (lang === 'tr') { Kurumsal }@@if (lang !== 'tr') { Company }</h6>
            <!-- links -->
            <ul>
              <li><a href="@@if (lang === 'tr') {hakkimizda.html}@@if (lang !== 'tr') {about.html}">@@if (lang === 'tr') { Hakkımızda }@@if (lang !== 'tr') { About }</a></li>
              <li><a href="@@if (lang === 'tr') {iletisim.html}@@if (lang !== 'tr') {contact.html}">@@if (lang === 'tr') { İletişim }@@if (lang !== 'tr') { Contact }</a></li>
              <li><a href="@@if (lang === 'tr') {kullanim-kosullari.html}@@if (lang !== 'tr') {terms.html}">@@if (lang === 'tr') { Şartlar ve Koşullar }@@if (lang !== 'tr') { Terms & Conditions }</a></li>
              <li><a href="@@if (lang === 'tr') {gizlilik-politikasi.html}@@if (lang !== 'tr') {privacy.html}">@@if (lang === 'tr') { Gizlilik Politikası }@@if (lang !== 'tr') { Privacy Policy }</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center bg-dark py-4">
    <small class="text-secondary">Copyright &copy;
      <script>document.write(new Date().getFullYear())</script>. Designed &amp; Developed by <a
        href="https://gelistirici.com/">Gelistirici</a>
    </small class="text-secondary">
  </div>
</footer>