<!--============================
=            Footer            =
=============================-->

<footer class="footer-classic">
  <ul class="social-icons list-inline">
    <li class="list-inline-item">
      <a href="https://www.facebook.com/gelistirici.bilisim"><i class="ti-facebook"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="https://x.com/gelistirici"><i class="ti-twitter"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.instagram.com/gelistirici/"><i class="ti-instagram"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.linkedin.com/in/gelistirici/"><i class="ti-linkedin"></i></a>
    </li>
  </ul>
  <ul class="footer-links list-inline">
    <li class="list-inline-item">
      <a href="FAQ.html">Download</a>
    </li>
    <li class="list-inline-item">
      <a href="blog.html">Blog</a>
    </li>
    <li class="list-inline-item">
      <a href="privacy-policy.html">Privacy</a>
    </li>
    <li class="list-inline-item">
      <a href="team.html">Developer</a>
    </li>
    <li class="list-inline-item">
      <a href="contact.html">Support</a>
    </li>
    <li class="list-inline-item">
      <a href="career.html">Career</a>
    </li>
  </ul>
</footer>