<!--============================
=            Footer            =
=============================-->

<footer class="footer-classic">
  <ul class="social-icons list-inline">
    <li class="list-inline-item">
      <a href="https://www.facebook.com/gelistirici.bilisim"><i class="ti-facebook"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="https://x.com/gelistirici"><i class="ti-twitter"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.instagram.com/gelistirici/"><i class="ti-instagram"></i></a>
    </li>
    <li class="list-inline-item">
      <a href="https://www.linkedin.com/in/gelistirici/"><i class="ti-linkedin"></i></a>
    </li>
  </ul>
  <ul class="footer-links list-inline">
    <li class="list-inline-item">
      <a href="@@if (lang === 'tr') {sik-sorulan-sorular.html}@@if (lang !== 'tr') {FAQ.html}">@@if (lang === 'tr') { SSS }@@if (lang !== 'tr') { FAQ }</a>
    </li>
    <li class="list-inline-item">
      <a href="blog.html">@@if (lang === 'tr') { Blog }@@if (lang !== 'tr') { Blog }</a>
    </li>
    <li class="list-inline-item">
      <a href="@@if (lang === 'tr') {gizlilik-politikasi.html}@@if (lang !== 'tr') {privacy.html}">@@if (lang === 'tr') { Gizlilik }@@if (lang !== 'tr') { Privacy }</a>
    </li>
    <li class="list-inline-item">
      <a href="@@if (lang === 'tr') {ekibimiz.html}@@if (lang !== 'tr') {team.html}">@@if (lang === 'tr') { Takım }@@if (lang !== 'tr') { Team }</a>
    </li>
    <li class="list-inline-item">
      <a href="@@if (lang === 'tr') {iletisim.html}@@if (lang !== 'tr') {contact.html}">@@if (lang === 'tr') { Destek }@@if (lang !== 'tr') { Support }</a>
    </li>
    <li class="list-inline-item">
      <a href="@@if (lang === 'tr') {kariyer.html}@@if (lang !== 'tr') {career.html}">@@if (lang === 'tr') { Kariyer }@@if (lang !== 'tr') { Career }</a>
    </li>
  </ul>
</footer>