<!-- Featured Member -->
<div class="founder">
	<div class="founder-info">
		<!-- Member Image -->
		<img class="w-100" src="@@img-src" alt="@@if (lang === 'tr') {öne çıkan ekip üyesi}@@if (lang !== 'tr') {featured member}">
		<!-- Name -->
		<h2>@@name</h2>
		<!-- position -->
		<cite>@@position</cite>
		<!-- Social Sites -->
		<ul class="list-inline social-links">
			<li class="list-inline-item"><a href="https://www.facebook.com/celalak57/"><i class="ti-facebook"></i></a></li>
			<li class="list-inline-item"><a href="https://x.com/gelistirici"><i class="ti-twitter"></i></a></li>
			<li class="list-inline-item"><a href="https://www.instagram.com/celal_ak/"><i class="ti-instagram"></i></a></li>
			<li class="list-inline-item"><a href="https://www.linkedin.com/in/gelistirici/"><i class="ti-linkedin"></i></a></li>
			<li class="list-inline-item"><a href="https://github.com/dolunay"><i class="ti-github"></i></a></li>
		</ul>
	</div>
	<div class="founder-description">
		<!-- Description -->
		<p>@@description</p>
	</div>
</div>